In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/cost-of-living-index-2022/Cost_of_Living_Index_2022.csv')

In [3]:
df.shape

(139, 8)

In [4]:
df.columns

Index(['Rank', 'Country', 'Cost of Living Index', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index'],
      dtype='object')

In [5]:
df.isna().any().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            139 non-null    int64
 1   Country                         139 non-null    object
 2   Cost of Living Index            139 non-null    float64
 3   Rent Index                      139 non-null    float64
 4   Cost of Living Plus Rent Index  139 non-null    float64
 5   Groceries Index                 139 non-null    float64
 6   Restaurant Price Index          139 non-null    float64
 7   Local Purchasing Power Index    139 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 8.8+ KB

In [7]:
dff = list(df.Country[:])
# dff

In [8]:
df.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04
1,2,Albania,35.50,8.47,22.83,29.32,25.82,30.19
2,3,Algeria,26.87,4.59,16.43,28.82,14.48,24.63
3,4,Argentina,34.69,7.71,22.04,28.17,33.32,30.72
4,5,Armenia,33.89,11.61,23.45,27.59,30.55,28.86

In [9]:
top_10_resturant = df.sort_values(by = ['Restaurant Price Index'],ascending=False).head(10)['Country']
top_10_resturant

15         Bermuda
119    Switzerland
90          Norway
51         Iceland
32         Denmark
57          Israel
62          Jersey
47        Guernsey
8          Bahamas
72      Luxembourg
Name: Country, dtype: object

In [10]:
last_10_resturant = df.sort_values(by = ['Restaurant Price Index'],ascending=False).tail(10)['Country']
last_10_resturant

26        Colombia
126         Turkey
38        Ethiopia
53       Indonesia
52           India
116      Sri Lanka
125        Tunisia
92        Pakistan
2          Algeria
0      Afghanistan
Name: Country, dtype: object

In [11]:
top_10_grocery = df.sort_values(by = ['Groceries Index'],ascending=False).head(10)['Country']
top_10_grocery

15         Bermuda
119    Switzerland
90          Norway
114    South Korea
51         Iceland
11        Barbados
49       Hong Kong
61           Japan
5        Australia
109      Singapore
Name: Country, dtype: object

In [12]:
last_10_grocery = df.sort_values(by = ['Groceries Index'],ascending=False).tail(10)['Country']
last_10_grocery

52                           India
128                        Ukraine
95                        Paraguay
64                      Kazakhstan
79                         Moldova
66     Kosovo (Disputed Territory)
26                        Colombia
126                         Turkey
92                        Pakistan
0                      Afghanistan
Name: Country, dtype: object

In [13]:
top_10_rent = df.sort_values(by = ['Rent Index'],ascending=False).head(10)['Country']
top_10_rent

15                  Bermuda
49                Hong Kong
109               Singapore
62                   Jersey
72               Luxembourg
47                 Guernsey
119             Switzerland
101                   Qatar
129    United Arab Emirates
73                    Macao
Name: Country, dtype: object

In [14]:
last_10_rent = df.sort_values(by = ['Rent Index'],ascending=False).tail(10)['Country']
last_10_rent

35           Egypt
125        Tunisia
52           India
120          Syria
112        Somalia
2          Algeria
10      Bangladesh
84           Nepal
92        Pakistan
0      Afghanistan
Name: Country, dtype: object

In [15]:
rent_grocery_resturant_top = pd.concat([top_10_rent,top_10_grocery,top_10_resturant])
rent_grocery_resturant_top.value_counts()

Bermuda                 3
Switzerland             3
Singapore               2
Jersey                  2
Luxembourg              2
Guernsey                2
Hong Kong               2
Norway                  2
Iceland                 2
Japan                   1
Israel                  1
Denmark                 1
Australia               1
Macao                   1
Barbados                1
South Korea             1
United Arab Emirates    1
Qatar                   1
Bahamas                 1
Name: Country, dtype: int64

In [16]:
rent_grocery_resturant_last = pd.concat([last_10_rent,last_10_grocery,last_10_resturant])
rent_grocery_resturant_last.value_counts()

India                          3
Pakistan                       3
Afghanistan                    3
Algeria                        2
Turkey                         2
Colombia                       2
Tunisia                        2
Egypt                          1
Moldova                        1
Indonesia                      1
Ethiopia                       1
Kosovo (Disputed Territory)    1
Ukraine                        1
Kazakhstan                     1
Paraguay                       1
Nepal                          1
Bangladesh                     1
Somalia                        1
Syria                          1
Sri Lanka                      1
Name: Country, dtype: int64

In [17]:
df.sort_values(by = ['Cost of Living Index'],ascending=False).head(20)['Country']

15         Bermuda
119    Switzerland
90          Norway
51         Iceland
11        Barbados
62          Jersey
57          Israel
32         Denmark
8          Bahamas
109      Singapore
47        Guernsey
49       Hong Kong
72      Luxembourg
5        Australia
61           Japan
56         Ireland
85     Netherlands
86     New Zealand
41          France
114    South Korea
Name: Country, dtype: object

In [18]:
df.sort_values(by = ['Cost of Living Index'],ascending=False).tail(20)['Country']

12                         Belarus
128                        Ukraine
88                         Nigeria
79                         Moldova
95                        Paraguay
42                         Georgia
7                       Azerbaijan
35                           Egypt
120                          Syria
64                      Kazakhstan
126                         Turkey
84                           Nepal
125                        Tunisia
133                     Uzbekistan
66     Kosovo (Disputed Territory)
2                          Algeria
26                        Colombia
52                           India
0                      Afghanistan
92                        Pakistan
Name: Country, dtype: object

In [19]:
df.sort_values(by = ['Local Purchasing Power Index'],ascending=False).head(20)['Country']

119             Switzerland
131           United States
5                 Australia
43                  Germany
32                  Denmark
72               Luxembourg
118                  Sweden
101                   Qatar
129    United Arab Emirates
105            Saudi Arabia
109               Singapore
40                  Finland
130          United Kingdom
85              Netherlands
23                   Canada
61                    Japan
41                   France
91                     Oman
86              New Zealand
90                   Norway
Name: Country, dtype: object

In [20]:
df.sort_values(by = ['Local Purchasing Power Index'],ascending=False).tail(20)['Country']

33     Dominican Republic
108            Seychelles
116             Sri Lanka
138              Zimbabwe
54                   Iran
87              Nicaragua
44                  Ghana
122              Tanzania
134             Venezuela
22               Cameroon
136                 Yemen
83                Myanmar
117              Suriname
21               Cambodia
127                Uganda
38               Ethiopia
88                Nigeria
59            Ivory Coast
120                 Syria
29                   Cuba
Name: Country, dtype: object