In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/forbes-billionaires-data-preprocessed/Forbes Billionaires.csv')

In [3]:
df.shape

(2600, 7)

In [4]:
df.columns

Index(['Rank ', 'Name', 'Networth', 'Age', 'Country', 'Source', 'Industry'], dtype='object')

In [5]:
df.head()

,Rank,Name,Networth,Age,Country,Source,Industry
0,1,Elon Musk,219.0,50,United States,"Tesla, SpaceX",Automotive
1,2,Jeff Bezos,171.0,58,United States,Amazon,Technology
2,3,Bernard Arnault & family,158.0,73,France,LVMH,Fashion & Retail
3,4,Bill Gates,129.0,66,United States,Microsoft,Technology
4,5,Warren Buffett,118.0,91,United States,Berkshire Hathaway,Finance & Investments

In [6]:
df.Country.value_counts().head(10)

United States    719
China            515
India            161
Germany          130
Russia            81
Hong Kong         67
Canada            64
Brazil            60
Italy             52
Taiwan            51
Name: Country, dtype: int64

In [7]:
df.Country.value_counts().tail(10)

Belize                  1
Liechtenstein           1
Guernsey                1
Oman                    1
Zimbabwe                1
Venezuela               1
Portugal                1
Algeria                 1
Eswatini (Swaziland)    1
Estonia                 1
Name: Country, dtype: int64

In [8]:
df.Industry.value_counts()

Finance & Investments          386
Technology                     329
Manufacturing                  322
Fashion & Retail               246
Healthcare                     212
Food & Beverage                201
Real Estate                    189
diversified                    178
Media & Entertainment           95
Energy                          93
Automotive                      69
Metals & Mining                 67
Service                         51
Construction & Engineering      43
Logistics                       35
Telecom                         35
Sports                          26
Gambling & Casinos              23
Name: Industry, dtype: int64

In [9]:
df.Age.value_counts(bins=10)

(59.5, 67.6]      602
(51.4, 59.5]      561
(67.6, 75.7]      479
(75.7, 83.8]      345
(43.3, 51.4]      252
(83.8, 91.9]      154
(35.2, 43.3]      118
(91.9, 100.0]      49
(27.1, 35.2]       32
(18.918, 27.1]      8
Name: Age, dtype: int64

In [10]:
df[df.Age < 20]

,Rank,Name,Networth,Age,Country,Source,Industry
1311,1292,Kevin David Lehmann,2.4,19,Germany,drugstores,Fashion & Retail

In [11]:
df[df.Age < 30]

,Rank,Name,Networth,Age,Country,Source,Industry
436,431,Gary Wang,5.9,28,United States,cryptocurrency exchange,Finance & Investments
649,637,Gustav Magnar Witzoe,4.5,28,Norway,fish farming,Food & Beverage
1311,1292,Kevin David Lehmann,2.4,19,Germany,drugstores,Fashion & Retail
1518,1513,Ryan Breslow,2.0,27,United States,e-commerce software,Technology
1887,1818,Austin Russell,1.6,27,United States,sensors★,Automotive
1961,1929,Henrique Dubugras,1.5,26,Brazil,fintech,Finance & Investments
1975,1929,Pedro Franceschi,1.5,25,Brazil,fintech,Finance & Investments
2062,1929,Wang Zelong,1.5,25,China,chemicals,Metals & Mining
2190,2190,Alexandra Andresen,1.3,25,Norway,investments,diversified
2191,2190,Katharina Andresen,1.3,26,Norway,investments,diversified
2421,2324,Stanley Tang,1.2,29,United States,food delivery app,Technology
2462,2448,Andy Fang,1.1,29,United States,food delivery app,Technology

In [12]:
df.Networth.value_counts(bins=10)

(0.781, 22.8]     2534
(22.8, 44.6]        37
(44.6, 66.4]        14
(88.2, 110.0]        5
(66.4, 88.2]         4
(110.0, 131.8]       3
(153.6, 175.4]       2
(197.2, 219.0]       1
(131.8, 153.6]       0
(175.4, 197.2]       0
Name: Networth, dtype: int64