<a href="https://www.kaggle.com/code/chandanarprasad/fortune-global-2000-companies-in-2021?scriptVersionId=100405647" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../input/fortune-global-2000-companies-till-2021/fortune_2000_in_2021.csv')
df.columns = df.columns.str.replace(' ','_')

In [3]:
df.Sales = df.Sales.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Profit = df.Profit.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Assets = df.Assets.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Market_Value = df.Market_Value.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)

print('DataFrame Shape: ',df.shape)

df.head()

DataFrame Shape:  (2000, 7)

,Rank,Name,Country,Sales,Profit,Assets,Market_Value
0,1,ICBC,China,190.5,45.8,4914.7,249.5
1,2,JPMorgan Chase,United States,136.2,40.4,3689.3,464.8
2,3,Berkshire Hathaway,United States,245.5,42.5,873.7,624.4
3,4,China Construction Bank,China,173.5,39.3,4301.7,210.4
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.7,49.3,510.3,1897.2

In [4]:
df.Country.value_counts().head(10)

United States     590
China             291
Japan             215
United Kingdom     66
South Korea        62
Hong Kong          59
Canada             56
Germany            54
France             53
India              50
Name: Country, dtype: int64

In [5]:
df[df.Profit >np.mean(df.Profit)].head(10)

,Rank,Name,Country,Sales,Profit,Assets,Market_Value
209,210,EDF,France,78.7,741.0,374.3,44.4
261,262,Tesla,United States,31.5,690.0,52.1,710.1
274,275,Fiserv,United States,14.9,958.0,74.6,83.4
290,291,Dai-ichi Life Insurance,Japan,57.9,657.6,615.6,20.7
309,310,Deutsche Bank,Germany,35.4,566.6,1621.5,25.8
356,357,Johnson Controls International,Ireland,22.1,923.0,41.4,45.0
357,357,Woolworths,Australia,46.2,972.8,30.5,41.2
392,393,Starbucks,United States,23.2,664.8,30.0,139.3
400,400,Sompo,Japan,34.4,931.9,123.3,13.7
404,405,Saint-Gobain,France,43.5,519.8,59.5,33.8

In [6]:
df[df.Assets >np.mean(df.Assets)].head(10)

,Rank,Name,Country,Sales,Profit,Assets,Market_Value
0,1,ICBC,China,190.5,45.8,4914.7,249.5
1,2,JPMorgan Chase,United States,136.2,40.4,3689.3,464.8
2,3,Berkshire Hathaway,United States,245.5,42.5,873.7,624.4
3,4,China Construction Bank,China,173.5,39.3,4301.7,210.4
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.7,49.3,510.3,1897.2
5,6,Apple,United States,294.0,63.9,354.1,2252.3
6,6,Bank of America,United States,98.8,17.9,2832.2,336.3
7,6,Ping An Insurance Group,China,169.1,20.8,1453.8,211.2
8,9,Agricultural Bank of China,China,153.9,31.3,4159.9,140.1
9,10,Amazon,United States,386.1,21.3,321.2,1711.8

In [7]:
df[df.Sales >np.mean(df.Sales)].head(10)

,Rank,Name,Country,Sales,Profit,Assets,Market_Value
0,1,ICBC,China,190.5,45.8,4914.7,249.5
1,2,JPMorgan Chase,United States,136.2,40.4,3689.3,464.8
2,3,Berkshire Hathaway,United States,245.5,42.5,873.7,624.4
3,4,China Construction Bank,China,173.5,39.3,4301.7,210.4
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.7,49.3,510.3,1897.2
5,6,Apple,United States,294.0,63.9,354.1,2252.3
6,6,Bank of America,United States,98.8,17.9,2832.2,336.3
7,6,Ping An Insurance Group,China,169.1,20.8,1453.8,211.2
8,9,Agricultural Bank of China,China,153.9,31.3,4159.9,140.1
9,10,Amazon,United States,386.1,21.3,321.2,1711.8

In [8]:
print('Highest Market_Value :',df.Market_Value.max())
print('Lowest Market_Value :',df.Market_Value.min())
print('Average Market_Value :',df.Market_Value.mean())

Highest Market_Value : 2252.3
Lowest Market_Value : 1.0
Average Market_Value : 50.86090000000002

In [9]:
df.groupby('Country')['Sales'].mean().sort_index(ascending=False)

Country
Vietnam                  3.900000
Venezuela               59.000000
United States           41.605932
United Kingdom          32.145455
United Arab Emirates     6.333333
                          ...
Bangladesh               1.300000
Bahrain                  1.700000
Austria                 10.133333
Australia               50.609677
Argentina                6.750000
Name: Sales, Length: 61, dtype: float64

In [10]:
df_india = df[df.Country == 'India']

In [11]:
df_india.shape

(50, 7)

In [12]:
df_india[['Name','Sales','Profit','Market_Value']].head(10)

                          Name  Sales  Profit  Market_Value
55         Reliance Industries   61.2     5.7         164.9
109        State Bank of India   50.6     3.1          40.8
115                  HDFC Bank   20.7     4.1         105.9
181                 ICICI Bank   21.3     2.0          52.7
219                       HDFC   16.2     2.4          62.4
321  Tata Consultancy Services   22.1     4.4         158.9
365            Larsen & Toubro   17.8     2.1          25.7
446        Kotak Mahindra Bank    7.5     1.3          47.1
491                    Infosys   13.5     2.6          77.5
512                       NTPC   15.1     1.6          13.4

In [13]:
df_india[['Name','Sales','Profit','Market_Value']].tail(10)

                       Name  Sales  Profit  Market_Value
1619             Bajaj Auto    3.5   628.7          14.2
1625         Rajesh Exports   32.6   111.0           2.0
1641          Tech Mahindra    5.1   560.0          13.2
1710          IndusInd Bank    4.8   312.9           8.8
1879  Ruchi Soya Industries    1.9     1.1           2.6
1918  Sun Pharma Industries    4.5   325.1          20.8
1923    LIC Housing Finance    2.7   372.2           2.7
1945          Vodafone Idea    5.9    -6.6           3.4
1957  Central Bank of India    3.6  -167.1           1.4
1966      Avenue Supermarts    3.1   129.1          25.4