<a href="https://www.kaggle.com/chandanarprasad/fortune-global-2000-companies-in-2021?scriptVersionId=84959137" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fortune-global-2000-companies-till-2021/fortune_2000_in_2021.csv

In [2]:
import pandas as pd

df = pd.read_csv('../input/fortune-global-2000-companies-till-2021/fortune_2000_in_2021.csv')

df.columns = df.columns.str.replace(' ','_')

In [3]:
df.Sales = df.Sales.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Profit = df.Profit.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Assets = df.Assets.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)
df.Market_Value = df.Market_Value.replace({'\$':'', 'B':'', 'M':'', ',':'',' ':''},regex=True).astype(float)

print('DataFrame Shape: ',df.shape)

df.head()

DataFrame Shape:  (2000, 7)

,Rank,Name,Country,Sales,Profit,Assets,Market_Value
0,1,ICBC,China,190.5,45.8,4914.7,249.5
1,2,JPMorgan Chase,United States,136.2,40.4,3689.3,464.8
2,3,Berkshire Hathaway,United States,245.5,42.5,873.7,624.4
3,4,China Construction Bank,China,173.5,39.3,4301.7,210.4
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,229.7,49.3,510.3,1897.2

In [4]:
print('Highest Market_Value :',df.Market_Value.max())
print('Lowest Market_Value :',df.Market_Value.min())
print('Average Market_Value :',df.Market_Value.mean())

Highest Market_Value : 2252.3
Lowest Market_Value : 1.0
Average Market_Value : 50.86090000000002

In [5]:
df.groupby('Country')['Sales'].mean().sort_index(ascending=False)

Country
Vietnam                  3.900000
Venezuela               59.000000
United States           41.605932
United Kingdom          32.145455
United Arab Emirates     6.333333
                          ...
Bangladesh               1.300000
Bahrain                  1.700000
Austria                 10.133333
Australia               50.609677
Argentina                6.750000
Name: Sales, Length: 61, dtype: float64

In [6]:
df.Country.value_counts().head(10)

United States     590
China             291
Japan             215
United Kingdom     66
South Korea        62
Hong Kong          59
Canada             56
Germany            54
France             53
India              50
Name: Country, dtype: int64

In [7]:
df_india = df[df.Country == 'India']

In [8]:
df_india.shape

(50, 7)

In [9]:
df_india[['Name','Sales','Profit','Market_Value']].head(10)

                          Name  Sales  Profit  Market_Value
55         Reliance Industries   61.2     5.7         164.9
109        State Bank of India   50.6     3.1          40.8
115                  HDFC Bank   20.7     4.1         105.9
181                 ICICI Bank   21.3     2.0          52.7
219                       HDFC   16.2     2.4          62.4
321  Tata Consultancy Services   22.1     4.4         158.9
365            Larsen & Toubro   17.8     2.1          25.7
446        Kotak Mahindra Bank    7.5     1.3          47.1
491                    Infosys   13.5     2.6          77.5
512                       NTPC   15.1     1.6          13.4

In [10]:
df_india[['Name','Sales','Profit','Market_Value']].tail(10)

                       Name  Sales  Profit  Market_Value
1619             Bajaj Auto    3.5   628.7          14.2
1625         Rajesh Exports   32.6   111.0           2.0
1641          Tech Mahindra    5.1   560.0          13.2
1710          IndusInd Bank    4.8   312.9           8.8
1879  Ruchi Soya Industries    1.9     1.1           2.6
1918  Sun Pharma Industries    4.5   325.1          20.8
1923    LIC Housing Finance    2.7   372.2           2.7
1945          Vodafone Idea    5.9    -6.6           3.4
1957  Central Bank of India    3.6  -167.1           1.4
1966      Avenue Supermarts    3.1   129.1          25.4