In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fortune-global-2000-companies-till-2021/fortune_2000_in_2021.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../input/fortune-global-2000-companies-till-2021/fortune_2000_in_2021.csv')

In [4]:
df.head()

,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"

In [5]:
df.shape

(2000, 7)

In [6]:
df.Country.value_counts().head(10)

United States     590
China             291
Japan             215
United Kingdom     66
South Korea        62
Hong Kong          59
Canada             56
Germany            54
France             53
India              50
Name: Country, dtype: int64

In [7]:
df.head(20)

,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"
5,6,Apple,United States,$294 B,$63.9 B,$354.1 B,"$2,252.3 B"
6,6,Bank of America,United States,$98.8 B,$17.9 B,"$2,832.2 B",$336.3 B
7,6,Ping An Insurance Group,China,$169.1 B,$20.8 B,"$1,453.8 B",$211.2 B
8,9,Agricultural Bank of China,China,$153.9 B,$31.3 B,"$4,159.9 B",$140.1 B
9,10,Amazon,United States,$386.1 B,$21.3 B,$321.2 B,"$1,711.8 B"
10,11,Samsung Electronics,South Korea,$200.7 B,$22.1 B,$348.2 B,$510.5 B
11,12,Toyota Motor,Japan,$249.4 B,$14.3 B,$561.9 B,$219.2 B
12,13,Alphabet,United States,$182.4 B,$40.3 B,$319.6 B,"$1,538.9 B"
13,14,Bank of China,China,$134 B,$27.9 B,"$3,731.4 B",$116.7 B
14,15,Microsoft,United States,$153.3 B,$51.3 B,$304.1 B,"$1,966.6 B"
15,16,Citigroup,United States,$84.4 B,$17.1 B,"$2,314.3 B",$151.2 B
16,17,Volkswagen Group,Germany,$254.1 B,$9.5 B,$646.4 B,$147.2 B
17,18,Walmart,United States,$559.2 B,$13.5 B,$252.5 B,$396.1 B
18,19,Wells Fargo,United States,$85.9 B,$7.4 B,"$1,959.5 B",$181.5 B
19,20,Verizon Communications,United States,$128.3 B,$17.8 B,$316.5 B,$241.3 B

In [8]:
df.tail(5)

,Rank,Name,Country,Sales,Profit,Assets,Market Value
1995,1996,JTEKT,Japan,$13.1 B,$-34.9 M,$12 B,$3.5 B
1996,1997,Insurance Australia Group,Australia,$5.4 B,$-212 M,$25 B,$9.3 B
1997,1997,Sumec Corporation,China,$13 B,$79.2 M,$7.1 B,$1.3 B
1998,1999,Gold Fields,South Africa,$3.9 B,$718.1 M,$7.5 B,$8.9 B
1999,1999,Paycom,United States,$841 M,$143.4 M,$2.6 B,$24 B

In [9]:
df_india = df[df.Country == 'India']

In [10]:
df_india.shape

(50, 7)

In [11]:
df_india[['Name','Sales','Profit','Market Value']].head(10)

                          Name    Sales  Profit Market Value
55         Reliance Industries  $61.2 B  $5.7 B     $164.9 B
109        State Bank of India  $50.6 B  $3.1 B      $40.8 B
115                  HDFC Bank  $20.7 B  $4.1 B     $105.9 B
181                 ICICI Bank  $21.3 B    $2 B      $52.7 B
219                       HDFC  $16.2 B  $2.4 B      $62.4 B
321  Tata Consultancy Services  $22.1 B  $4.4 B     $158.9 B
365            Larsen & Toubro  $17.8 B  $2.1 B      $25.7 B
446        Kotak Mahindra Bank   $7.5 B  $1.3 B      $47.1 B
491                    Infosys  $13.5 B  $2.6 B      $77.5 B
512                       NTPC  $15.1 B  $1.6 B      $13.4 B

In [12]:
df_india[['Name','Sales','Profit','Market Value']].tail(10)

                       Name    Sales     Profit Market Value
1619             Bajaj Auto   $3.5 B   $628.7 M      $14.2 B
1625         Rajesh Exports  $32.6 B     $111 M         $2 B
1641          Tech Mahindra   $5.1 B     $560 M      $13.2 B
1710          IndusInd Bank   $4.8 B   $312.9 M       $8.8 B
1879  Ruchi Soya Industries   $1.9 B     $1.1 B       $2.6 B
1918  Sun Pharma Industries   $4.5 B   $325.1 M      $20.8 B
1923    LIC Housing Finance   $2.7 B   $372.2 M       $2.7 B
1945          Vodafone Idea   $5.9 B    $-6.6 B       $3.4 B
1957  Central Bank of India   $3.6 B  $-167.1 M       $1.4 B
1966      Avenue Supermarts   $3.1 B   $129.1 M      $25.4 B