In [1]:
import pandas as pd

In [2]:
issues = pd.read_csv('../input/github-programming-languages-data/issues.csv')
prs = pd.read_csv('../input/github-programming-languages-data/prs.csv')
repos = pd.read_csv('../input/github-programming-languages-data/repos.csv')

In [3]:
print(issues.shape)
issues.head()

(3375, 4)

         name  year  quarter  count
0        Ruby  2011        3    965
1  JavaScript  2011        3    694
2      Python  2011        3    619
3         PHP  2011        3    560
4        Java  2011        3    420

In [4]:
print(prs.shape)
prs.head()

(3462, 4)

         name  year  quarter  count
0        Ruby  2011        3    632
1         PHP  2011        3    484
2      Python  2011        3    423
3  JavaScript  2011        3    367
4        Java  2011        3    216

In [5]:
print(repos.shape)
repos.head()

(453, 2)

     language  num_repos
0  JavaScript    1100421
1         CSS     813443
2        HTML     779549
3       Shell     638068
4      Python     548870