## Pandas Library ( Data: Pokemon)

### [Reference] YouTube Tutorial - Keith Galli

#### Loading data into Pandas

In [5]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df.head(3)
#print(df.tail(3))

# df_excel = pd.read_excel('pokemon_data.xlsx')
# df_txt = pd.read_csv('pokemon_data.txt', delimiter ='\t')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

#### Reading data in Pandas

In [35]:
## Read header
#print(df.columns)
#df.columns

## Read each column 
#print(df['Name'].head(10))
#print(df['Name'][12:25])
# print(df.Name)
#print(df[['Name','HP']])

## Read each row
#print(df.iloc[1:4])
#print(df.iloc[1])

## Read a specific location (R,C)
#print(df.iloc[2,3])

## To iterate row by row
#for index, rows in df.iterrows():
#    print(index,rows)

#for index, rows in df.iterrows():
#    print(index,rows['Name'])

## To look for something specific - without using index or when you dont know the index
#df.loc[df['Type 1'] == "Fire"]

#### Sorting / Describing the data

In [43]:
#df.describe()

#df.sort_values('Name')
#df.sort_values('Name', ascending = False)
#df.sort_values(['Name', 'Type 1'])
#df.sort_values(['Name', 'Type 1'], ascending = False)
#df.sort_values(['Name', 'Type 1'], ascending = [1,0])

#### Making changes to the data

In [67]:
#df.head()

#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#df.head() # either pick the columns using their names or use iloc to pick them via indexes
#df['Total'] = df.iloc[:, 4:10].sum(axis=1)
#df.head()

## If you want to switch the order of the columns 
# get the list of colmn names in a list - so you dont have to type it out - then use indexes

#cols = list(df.columns)
#df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
#df.head()

#df = df['Name'] + df['Type 1'] + df['Type 2'] + df['Legendary'] + df['Total'] + df['HP'] + df['Attack'] + df['Defense']  + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Saving our new data - exporting it into the desired format

In [69]:
#df.to_csv('modified.csv', index = False)

#df.to_excel('modified.xlsx',index = False)

#df.to_csv('modified.txt', index = False, sep ='\t')

#### Filtering data

In [95]:
#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#new_df.to_csv('filtered.csv')
#new_df = new_df.reset_index(drop = True)
#new_df.reset_index(drop = True, inplace = True)

## filtering data where data contains certain string

#df.loc[df['Name'].str.contains('Mega')] # get all the data with 'mega' in it

#df.loc[~ df['Name'].str.contains('Mega')] # get everything but 'mega'

## further better filtering using regex

import re

#df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

#df.loc[df['Type 1'].str.contains('fire|grass',flags = re.I , regex = True)] # re.I to not be case sensitive 'f'ire

## if you want to get the names starting from 'pi'

#df.loc[df['Name'].str.contains('^pi[a-z]',flags = re.I , regex = True)] #^ outside the bracket means - start from - inside : not

####  Conditional changes

In [111]:
#df.loc[df['Type 1'] == 'Fire' , 'Type 1'] = 'Flamer'

#df.loc[df['Type 1'] == 'Flamer' , 'Type 1'] = 'Fire'

#df.loc[df['Type 1'] == 'Fire' , 'Legendary'] = True

## load the checkpoint - coz data is now messed up

#df = pd.read_csv('modified.csv')
#df

## to change multiple columns at a time

#df.loc[df['Total'] > 500, ['Generation' , 'Legendary']] = ['Test value']

#df.loc[df['Total'] > 500, ['Generation' , 'Legendary']] = ['Test1','Test2']

####  Aggregate Statistics (groupby)

In [128]:
#df = pd.read_csv('modified.csv')
#df
#df.groupby(['Type 1']).mean()
#df.groupby(['Type 1']).mean().sort_values('Defense')
#df.groupby(['Type 1']).mean().sort_values('Defense',ascending = False)
#df.groupby(['Type 1']).sum()
#df.groupby(['Type 1']).count()
## just count may not be helpful - add a column with all the 1s and then perform more operations to get better count values
#df['count'] = 1
#df.groupby(['Type 1']).count()['count']
#df.groupby(['Type 1', 'Type 2']).count()['count']

#### Working with large amounts of data

In [130]:
new_df = pd.DataFrame(columns = df.columns)

for df in pd.read_csv('modified.csv', chunksize = 5):
    results = df.groupby(['Type 1']).count
    
    #new_df = pd.concat([new_df, results])